@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: 0.4s;
}

::-webkit-scrollbar {
  width: 0;
}

.centered {
  filter: blur(10px) contrast(20);
}

.loader {
  transition: none;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #197f9e, rgb(36, 163, 169), #197f9e);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 3s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.nameColor1 {
  color: #d65114;
}
.nameColor2 {
  color: #cf11cf;
}
.nameColor3 {
  color: #87c728;
}
.nameColor4 {
  color: #e80c0c;
}
.nameColor5 {
  color: #14cf11;
}
